* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: lightblue;
    color: white;
    line-height: 1.5;
    font-size: 16px;
    padding: 0;
}

.container {
    display: flex;
    width: 500px;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 30px;
    border: 2px solid black;
}

.title {
    font-size: 30px;
    margin: 30px 0 10px;
}

.form1 {
    display: flex;
}

.input__text {
    font-family: monospace;
    font-size: 16px;
    width: 350px;
    outline: none;
    border: none;
    border-bottom: 2px solid #4e4e4e;
    margin-right: 5px;
}

.btn__add {
    cursor: pointer;
    padding: 8px 15px;
    background-color: #add8e6;
    font-family: fantasy;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: background-color .4s ease;
}

.btn__add:hover {
    background-color: #2489a8;
}

.li-container {
    width: 80%;
    color: #292929;
    margin-top: 5px;
}

.lista {
    padding: 0;
}

li {
    list-style: none; /*para eliminar el puntico*/
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.btn__delete {
    cursor: pointer;
    background-color: #e03838;
    color: white;
    outline: none;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 5px 10px;
    width: 10%;
    font-size: 1.2em;
    transition: background-color .3s ease-in;
}

.btn__delete:hover {
    background-color: #dd0202;
}

/* todo Eliminar todo */
.delete__all {
    display: none;
    margin-top: 20px;
    text-align: center;
}

.btn__delete-all {
    cursor: pointer;
    background-color: #e03838;
    color: white;
    outline: none;
    border: none;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    transition: background-color .3s ease-in-out;
}

.btn__delete-all:hover {
    background-color: #dd0202;
}

/*todo Boton de modificar  */
.btn__modifi {
    cursor: pointer;
    background-color: #fafa0f;
    color: white;
    outline: none;
    border: none;
    padding: 5px;
    width: 10%;
    font-size: 1.2em;
    transition: background-color .3s ease-in;
}

.btn__modifi:hover {
    background-color: #e6e601;
}